$white: #ffffff;
$black: #000000;
$primary1: #f0d43a;
$primary2: #3b4a6b;
$textCol: #1f1f1f;
$borderRadius: 15px;

body * {
    font-family: Poppins;
}

.whole_page_section {
    margin: 60px auto 0px auto;
    padding-bottom: 60px;

    .hero-image {
        transition: all 1s ease-out;
        padding: 320px 0px;
        // background-image: linear-gradient(90deg, rgb(255, 111, 0), rgb(255, 0, 238), rgb(0, 30, 255), rgb(0, 0, 0)), url("../../images/land3.jpg");
        background-image: linear-gradient(rgba(0, 0, 0, 0.502), rgba(0, 0, 0, 0.5)), url("../../images/land3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: $white;

        .hero-text {
            transition: all 1s ease-out;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;

            h1 {
                color: $white;
                font-size: 80px;
            }

            h4 {
                color: $white;
                font-size: 20px;
                padding: 0px 80px;
            }
        }
    }


    .detail_box {
        justify-content: center;
        padding: 60px 300px;
        color: $white;

        .heading_container {
            h2 {
                font-weight: bold;
                font-size: 40px;
                border-bottom: 1px solid #000;
                margin-bottom: 20px;
            }
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            line-height: 30px;
            font-size: 15px;
        }
    }



    .why_section_row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; //main axis- horizontal
        align-items: center; //cross axis- vertical
        padding: 10px 40px;
        width: 100%;
    }

    .box {
        margin: 15px;
        padding: 25px;
        width: 30%;
        text-align: center;
        overflow: hidden;
        color: $white;
        background-color: #7eb8fb;
        background-image: linear-gradient(180deg, #39a37b 0%, #357cba 100%);
        height: 550px;

        .img_box {
            font-size: 100px;

            img {
                width: 150px;
            }

            margin: 30px;
        }


        .box_info {
            text-align: center;

            h5 {
                margin-top: 10px;
                font-size: 18px;
                color: $white;
            }

            h6 {
                margin-top: 10px;
                font-weight: 600;
                color: $primary2;
            }

            a {
                color: white;

            }
        }
    }
}